* {
    margin:0;
    padding:0;
    position:absolute;
    border:none;
}
*:focus {
    border:none;
    outline:none;
}

body {
    overflow:hidden;
}
#gamespace{
    z-index:2;
    background-color:rgb(22, 22, 22);
    width:100vw;
    height:100vh;
}
#divider {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

     background-color: rgba(106, 106, 106);
     width:0.1vw;
     height:97vh;
}

.player {
    background-color:rgb(255, 251, 251);
    width:0.5vw;
    height:17vh;
}
#playerr {
    margin-left: 99.5vw;
    margin-top:41.121vh;
}
#playerl {
    margin-top:41.121vh;
}

#ball {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

    width:6vh;
    height:6vh;
    background-color:rgba(255, 255, 255, 0.076);
    z-index:2;
    border-radius:3vh;
    margin-left:0;
    margin-top:0;
    box-shadow: 2px 2px 2px black;
}

#score {
    left:50vw;
    top:0;
    transform:translate(-50%, -50%);
    width:10vw;
    height:14vh;
    display:flex;
    justify-content: space-between;
}
#score * {
    position:relative;
    color:rgb(255, 255, 255);
    text-decoration: solid;
    bottom:-6vh;
    z-index: 10;
    font-size:14vh;
}
#cursorcapture {
    background-color:transparent;
    z-index:3;
    width:50vw;
    height:83vh;
    margin-top:8.5vh;

}
.internet {
    position:fixed;
    z-index:4;
    right:0;
    bottom:0;
    width:6vw;
}
#popup {
    display:block;
    z-index:3;
    width:25vw;
    height:15vh;
    margin-left:37.5vw;
    margin-top:32.5vh;
}
.button {
    border-style:none;
    bottom:0;
    width:12.5vw;
    height:5vh;
    background-color:rgb(165, 62, 62);
}
#submit {
    background-color:rgb(85, 141, 63);
    right:0;
    border-radius:0 0 1vh 0;
}
#input {
    resize:none;
    border-style:none;
    width:25vw;
    height:10vh;
    font-size:4.5vh;
    text-align:center;
    border-radius:1vh 1vh 0 0;
}


#start {
    display:none;
    left:50vw;
    top:25vh;
    transform:translate(-50%, -50%);
    z-index:5;
    width:10vw;
    height:10vh;
    background-color: rgb(148, 36, 36);
    border-radius:1vh 1vh 1vh 0;
    font-size:6vh;
    color:white;
}

#gurka {
    width:100%;
}
#send {
    z-index:3;
    display:flex;
    top:97vh;
    height:3vh;
    left:82.25vw;
}
#send * {
    z-index:3;
    position:relative;
}
#msg {
    width:15.2vw;
    padding-left:0.1vw;
}
#msgbutt {
    width:2.55vw;
    background-color: rgb(201, 201, 201);
}
#messages {
    background-color: transparent;
    top:80.7vh;
    height:16vh;
    left: 82.25vw;
    width:17.55vw;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}
#messages * {
    z-index:3;
    position: relative;
    color:rgba(255, 255, 255, 0.563);
    overflow-wrap: break-word;
    margin-bottom:5px;


}
#messages *:first-child {
    margin-top:16vh;
}
#wiper {
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.857);
    z-index:3;
}
