* {
    margin:0;
    padding:0;
    position:absolute;
}
body {
    overflow:hidden;
}
#gamespace{
    background-color:rgb(22, 22, 22);
    width:100vw;
    height:100vh;
}
#divider {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

     background-color: rgb(106, 106, 106);
     width:0.1vw;
     height:97vh;
}

.player {
    background-color:rgb(255, 251, 251);
    width:0.5vw;
    height:17vh;
}
#playerr {
    margin-left: 99.5vw;
}

#ball {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

    width:6vh;
    height:6vh;
    background-color:rgba(255, 255, 255, 0.076);
    z-index:2;
    border-radius:3vh;
    margin-left:0;
    margin-top:0;
    box-shadow: 2px 2px 2px black;
}

#score {
    left:50vw;
    top:0;
    transform:translate(-50%, -50%);
    width:10vw;
    height:14vh;
    display:flex;
    justify-content: space-between;
}
#score * {
    position:relative;
    color:rgba(255, 255, 255, 0.57);
    text-decoration: solid;
    bottom:-6vh;
    z-index: 2;
    font-size:14vh;
}
#cursorcapture {
    background-color:transparent;
    z-index:3;
    width:50vw;
    height:83vh;
    margin-top:8.5vh;

}
.internet {
    position:fixed;
    z-index:4;
    right:0;
    bottom:0;
    width:6vw;
}
#popup {
    display:none;
    z-index:3;
    width:25vw;
    height:35vh;
    margin-left:37.5vw;
    margin-top:32.5vh;
}
.button {
    border-style:none;
    bottom:0;
    width:12.5vw;
    height:5vh;
    background-color:rgb(165, 62, 62);
}
#submit {
    background-color:rgb(63, 63, 141);
    right:0;
}
#input {
    resize:none;
    border-style:none;
    width:25vw;
    height:30vh;
}

#start {
    display:none;
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);
    z-index:5;
    width:10vw;
    height:10vh;
    background-color: rgb(157, 2, 2);
    border-radius:1vh;
    box-shadow: 5px 5px 5px black;
    font-size:6vh;
    color:white;
}

#gurka {
    width:100%;
}
#send {
    display:flex;
    top:97vh;
    height:3vh;
    left:82.25vw;
}
#send * {
    position:relative;
}
#messages {
    background-color: transparent;
    top:80.7vh;
    height:16vh;
    left: 82.25vw;
    width:22.2vh;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}
#messages * {
    position: relative;
    color:rgba(255, 255, 255, 0.563);
    bottom:0;
    overflow-wrap: break-word;
    margin-bottom:5px;


}
#messages:first-child {
    margin-top:100vh;
}