* {
    margin:0;
    padding:0;
    position:absolute;
}
body {
    overflow:hidden;
}
#gamespace{
    background-color:rgb(22, 22, 22);
    width:100vw;
    height:100vh;
}
#divider {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

     background-color: rgb(106, 106, 106);
     width:0.1vw;
     height:97vh;
}

.player {
    background-color:rgb(255, 251, 251);
    width:0.5vw;
    height:17vh;
}
#playerr {
    margin-left: 99.5vw;
}

#ball {
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);

    width:6vh;
    height:6vh;
    background-color:rgb(80, 16, 16);
    z-index:2;
    border-radius:3vh;
    margin-left:0;
    margin-top:0;
}

#score {
    color:white;
}
#cursorcapture {
    background-color:transparent;
    z-index:3;
    width:50vw;
    height:83vh;
    margin-top:8.5vh;

}
.internet {
    position:fixed;
    z-index:4;
    right:0;
    bottom:0;
    width:6vw;
}
#popup {
    display:none;
    z-index:3;
    width:25vw;
    height:35vh;
    margin-left:37.5vw;
    margin-top:32.5vh;
}
.button {
    border-style:none;
    bottom:0;
    width:12.5vw;
    height:5vh;
    background-color:red;
}
#submit {
    background-color:blue;
    right:0;
}
#input {
    resize:none;
    border-style:none;
    width:25vw;
    height:30vh;
}

#start {
    display:none;
    left:50vw;
    top:50vh;
    transform:translate(-50%, -50%);
    z-index:5;
    width:10vw;
    height:10vh;
    background-color: red;
}
